* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}

body {
    background-image: url(img/bg.jpeg); 
    background-size: cover;
}

#iniciarjogo {
    background-color: rgba(95, 0, 247, 0.2);
    margin: 20px auto;
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#iniciarjogo h1 {
    color: #ffffff;
    font-size: 50px;
}

#iniciarjogo img {
    width: 100px;
    cursor: pointer;
}
#iniciarjogo img:hover {
    animation: aumentar .2s forwards;
}

#iniciarjogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#iniciarjogo label {
    color: #FFF;
    font-size: 18px;
}

#iniciarjogo select {
    color: #FFF;
    background-color: #000000;
    border: 1px solid #FFF;
    padding: 5px 30px;
    cursor: pointer;
}

.sumir {
    animation: sumir .5s forwards;
}

@keyframes aumentar {
    from {
        width: 100px;
    }
    to {
        width: 110px;
    }
}
@keyframes sumir {
    from {
        opacity: 1;
        display: flex;
    }
    to {
        opacity: 0;
        display: none;
    }
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  
    color: #FFF;
}

form div {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

form #vs {
    display: none;
    gap: 10px;
}

form #criarcodigo {
    padding: 5px 65px;
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
    cursor: pointer;
}
form #criarcodigo:hover {
    background-color: #1b1818;
}

form #entrarsala {
    padding: 5px 3px;
    background-color: black;
    color: #FFF;
    border: 1px solid #FFF;
}

form #cor input {
    width: 30px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

canvas {
    width: 1000px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    display: none;
    margin: 100px auto;
}